<h1>Edit Book</h1>
<form action="/books/<%= book['id'] %>" method="POST">
    <input type="hidden" name="_method" value="put">
    <label for="">Name: </label>
    <input type="text" name="name" value="<%= book['name'] %>">

    <label for="">Image URL: </label>
    <input type="text" name="image_url" value="<%= book['image_url'] %>">

    <label for="">Author: </label>
    <input type="text" name="author" value="<%= book['author'] %>">

    <label for="">Genre: </label>
    <input type="text" name="genre" value="<%= book['genre'] %>">

    <label for="">Year first published: </label>
    <input type="text" name="year" value="<%= book['year'] %>">


    <button>Update book</button>

</form>